-i https://pypi.org/simple
numpy>=1.18.4
matplotlib>=3.2.1
opencv-python>=4.4.0.42
pillow>=7.1.2
scipy>=1.4.1
urllib3>=1.25.9
scikit-image>=0.17.2
tqdm
h5py
filterpy
fvcore
ftfy
webcolors
pymatting
dlib
lap
