certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
filelock==3.4.1
flatbuffers==25.12.19
g2pw==0.1.1
huggingface-hub==0.4.0
idna==3.10
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
numpy==1.19.5
onnxruntime==1.10.0
packaging==21.3
pip==21.2.2
protobuf==3.19.6
pyparsing==3.1.4
PyYAML==6.0.1
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
setuptools==58.0.4
six==1.17.0
tokenizers==0.12.1
torch==1.10.2
tqdm==4.64.1
transformers==4.18.0
typing_extensions==4.1.1
urllib3==1.26.20
wheel==0.37.1
zipp==3.6.0