appdirs==1.4.4
audioread==2.1.9
certifi==2023.7.22
cffi==1.14.3
chardet==3.0.4
decorator==4.4.2
future==0.18.3
idna==2.10
joblib==1.2.0
librosa==0.8.0
llvmlite==0.34.0
numba==0.51.2
numpy==1.22.0
packaging==20.4
Pillow==9.3.0
pooch==1.2.0
PyAudio==0.2.11
pycparser==2.20
pyparsing==2.4.7
requests==2.31.0
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.10.0
six==1.15.0
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
torch==1.13.1
torchvision==0.7.0
urllib3==1.26.5
